<div *ngIf="data" class="card">
  <div class="card-body">
    <h4 class="card-title">{{'ExamPeriodParticipateActions.Title.One' | translate}} ({{data.year?.alternateName}}  {{data.examPeriod?.name | translate}})</h4>
    <div *ngIf="data">
        <h6 class="font-weight-normal">
          <span [translate]="'ExamPeriodParticipateActions.SubmittedAt'"></span>
          <span>&nbsp;</span>
          <span>{{data.startTime | date: 'short'}}</span>
          <span>&nbsp;</span>
          <span [translate]="'Requests.ActionStatusTypes.' + data.actionStatus.alternateName"></span>
        </h6>
    </div>
    <div class="row" *ngIf="loading">
      <!--begin:pre-loading state-->
      <div class="ph-col-12">
        <div class="ph-row py-2">
          <div class="ph-col-8 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-6 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-10 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-4 big"></div>
        </div>
        <div class="ph-row">
          <div class="ml-lg-4 ph-col-6 big"></div>
        </div>
      </div>
      <!--end:pre-loading state-->
    </div>

    <div *ngIf="data" class="col-12">
      <div>
        <ng-container *ngIf="data.courseExamActions && data.courseExamActions.length">
          <div class="row" *ngIf="data.agree">
            <div class="py-2 d-flex">
              <label class="mr-3 align-self-center">
                <i class="fa fa-2x text-indigo" [ngClass]="{'fa-check': data.agree, 'fa-circle text-gray-100': !data.agree}"></i>
              </label>
              <label  [translate]="'ExamPeriodParticipateActions.Agree'"></label>
            </div>
          </div>
          <div class="row" *ngIf="data.reject">
            <div class="py-3">
              <div class="py-2 d-flex">
                <label class="mr-3 align-self-center">
                  <i class="fa fa-2x text-danger fa-ban"></i>
                </label>
                <label  [translate]="'ExamPeriodParticipateActions.NotAgree'"></label>
              </div>
            </div>
          </div>
          <!--begin:courses-->
          <div>
            <div class="row ml-lg-2 ml-md-2" *ngFor="let courseExamAction of data.courseExamActions;let i=index;">
              <div class="py-3 d-flex">
                <label class="mr-3 align-self-center">
                  <i class="fa fa-2x text-secondary" [ngClass]="{'fa-check': courseExamAction.agree, 'fa-ban text-gray-200': !courseExamAction.agree}"></i>
                </label>
                <label>
                  <h6 class="font-weight-normal">
                    {{courseExamAction.courseExam.course.displayCode}} {{courseExamAction.courseExam.name}}
                  </h6>
                  <div>
                    {{courseExamAction.courseExam.year.name}} {{courseExamAction.courseExam.examPeriod.name}}
                  </div>
                  <div class="row"  *ngIf="courseExamAction.courseExam.types && courseExamAction.courseExam.types.length">
                    <div class="pt-1 col-12">
                      {{'ExamPeriodParticipateActions.TestTypes' | translate}}:
                      <ng-container *ngFor="let testType of courseExamAction.courseExam.types; let isLast=last">
                        {{testType.name}}{{isLast ? '' : ', '}}
                      </ng-container>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <!--end:courses-->

        </ng-container>
        <ng-container *ngIf="data.courseExamActions && data.courseExamActions.length === 0">
            <!--begin:empty-->
              <div class="text-center">
                <div class="mt-4">
                  <div class="icon-circle bg-gray-300 border-gray-100"></div>
                </div>
                <div class="mt-4">
                  <h4 class="font-3xl text-dark" [translate]="'ExamPeriodParticipateActions.NoData.Title'"></h4>
                  <p class="font-lg text-dark" [translate]="'ExamPeriodParticipateActions.NoData.Message'"></p>
                </div>
                <div class="mt-2">
                  <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'ExamPeriodParticipateActions.Back'"></a>
                </div>
              </div>
            <!--end:empty-->
        </ng-container>
      </div>
    </div>
  </div>
</div>
