<ng-container *ngIf="attachmentTypes && attachmentTypes.length && !loading">
    <div class="col-12">
        <h4 class="">
            {{'Requests.Attachments.Title' | translate}}
        </h4>
        <p class="text-secondary" *ngIf="editMode">
            {{'Requests.Attachments.Info' | translate}}
        </p>
    </div>
    <ng-container *ngFor="let document of attachmentTypes | filterBy: ['attachmentType'] ;let i= index">
        <div class="col-12">
            <div class="mb-4 mt-4">
                <h4 class="text-secondary">{{i + 1}}. {{document.attachmentType?.name}}
                    <span *ngIf="editMode" class="font-weight-normal text-lowercase text-secondary">
                      ({{document.numberOfAttachments}} {{(document.numberOfAttachments === 1 ?
                        'Requests.Attachments.DocumentToUpload' :
                        'Requests.Attachments.DocumentsToUpload') | translate}})
                    </span>
                </h4>
            </div>
          <ng-container *ngIf="!editMode">
            <ng-container *ngFor="let f of studentRequest.attachments">
              <span *ngIf="f && f.name && f.attachmentType.id===document.attachmentType.id">
                {{f.name}}
              </span>
            </ng-container>
          </ng-container>
           <ng-container *ngIf="editMode">
            <ngx-dropzone  class="mt-2" [multiple]="document.numberOfAttachments > 1"
                          [accept]="'application/pdf'" (change)="onFileSelect($event, document.attachmentType)">
                <ngx-dropzone-label style="z-index: 0" class="p-2">

                    <div *ngIf="document.attachmentType">{{document.attachmentType?.description ||
                    document.attachmentType?.name}} </div>
                    <div>{{'Requests.Attachments.UploadDocument' | translate}} (*.pdf)</div>
                </ngx-dropzone-label>
                <ng-container *ngFor="let f of studentRequest.attachments">
                    <ngx-dropzone-preview *ngIf="f && f.name && f.attachmentType.id===document.attachmentType.id"
                                          [file]="f.name" [removable]="true" (removed)="onFileRemove(f)">
                        <ngx-dropzone-label class="text-truncate"> {{f.name}} </ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ng-container>
            </ngx-dropzone>
           </ng-container>
        </div>
    </ng-container>
    <div class="row justify-content-center pt-3" *ngIf="editMode">
        <button type="submit"  [disabled]="documentState === 'invalid'" (click)="submit()" class="btn btn-primary btn-md text-right">
            <i></i> <span [translate]="'Requests.Commit'"></span>
        </button>
    </div>
</ng-container>
