.inner__content {
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .border-top {
    border-top: 2px solid #E4E7EA !important;
  }
  
  .border-right {
    border-right: 1px solid #E4E7EA !important;
  }
  
  .menu-left{
    list-style-type: none ;
  }
  
  ul.menu-left li {
    cursor: pointer;
  }
  
  ul.menu-left li a{
    color:#333;
  }
  
  ul.menu-left li a.active {
     font-size: 18px;
  }
  
  .grade-title{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.5rem;
  }
  
  .passed-grade {
    color: #19D65B;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.76px;
    text-align: right;
    white-space: nowrap !important;
  }
  .failed-grade {
    color: #A4B7C1;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: -0.76px;
    text-align: right;
    white-space: nowrap !important;
  }
  
  .grade-small{
    font-size: 24px !important;
  }
  
  .separator {
    box-sizing: border-box;
    height: 234px;
    width: 2px;
    border-left: 1px solid #C2CFD6;
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .app-sidebar{
    width: 7%;
  }
  
  @media (max-width: 575.98px) {
    .inner__content {
      max-height: unset;
      overflow-y: hidden;
    }
  }
  
  .theses_search_filters {
    display: flex;
    flex-wrap: wrap;
    padding-top: auto;
    padding-bottom: auto;
    border: 1px solid #C2CFD6;
    border-radius: 6px;
    margin-top: 25px;
    background-color: #F0F3F5;
  }



  @media only screen and (max-width: 800px) {
    .mobile-hidden {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .mobile-show {
        display: none;
    }
}
  
  