<div class="card">
  <div class="card-body">
    <h4 class="card-title" [translate]="'PeriodParticipateRequestActions.Title.One'"></h4>
    <h5 *ngIf="department && department.currentYear  && department.currentPeriod">
      {{department.currentYear?.alternateName}}  {{department.currentPeriod?.name | translate}}
    </h5>

    <ng-container *ngIf="student && student.studentStatus && student.studentStatus.alternateName !== 'active'">
      <!--begin:empty-->
      <div class="text-center">
        <div class="mt-4">
          <div class="icon-circle bg-gray-300 border-gray-100"></div>
        </div>
        <div class="mt-4">
          <h4 class="font-3xl text-dark" [translate]="'PeriodParticipateRequestActions.InvalidStatus.Title'"></h4>
          <p class="font-lg text-dark" [translate]="'PeriodParticipateRequestActions.InvalidStatus.Message'"></p>
        </div>
        <div class="mt-2">
          <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'PeriodParticipateRequestActions.Back'"></a>
        </div>
      </div>
      <!--end:empty-->
    </ng-container>

    <!--begin:notAllowed-->
    <ng-container *ngIf="notAllowed">
      <div class="text-center">
        <div class="mt-4">
          <div class="icon-circle bg-gray-300 border-gray-100"></div>
        </div>
        <div class="mt-4">
          <h4 class="font-3xl text-dark" [translate]="'PeriodParticipateRequestActions.NotAllowed.Title'"></h4>
          <p class="font-lg text-dark">
            <span [translate]="'PeriodParticipateRequestActions.NotAllowed.Message'"></span>
          </p>
        </div>
        <div class="mt-2">
          <a class="btn btn-indigo" [routerLink]="['/requests']" [translate]="'PeriodParticipateRequestActions.Back'"></a>
        </div>
      </div>
    </ng-container>
    <!--end:notAllowed-->

    <div *ngIf="!notAllowed && data && student && student.studentStatus && student.studentStatus.alternateName === 'active'" class="col-12">
      <form #f="ngForm" (ngSubmit)="submit(f)" novalidate>
        <ng-container >

          <div class="row terms pt-3" *ngIf="terms" >
            <div class="col-12" [innerHTML]="terms"></div>
          </div>

          <div class="row">
            <div class="py-3 col-12">
              <input (change)="onAgreeChange()" [(ngModel)]="data.agree" name="agree"
                class="checkbox checkbox-indigo" type="checkbox" id="agree" />
              <label for="agree" class="font-weight-bold" [translate]="'PeriodParticipateRequestActions.Agree'"></label>
            </div>
          </div>

          <div class="row">
            <div class="py-3 col-12">
              <input [(ngModel)]="data.reject" (change)="onRejectChange()" name="reject"
                class="checkbox checkbox-indigo" type="checkbox" id="reject" />
              <label for="reject" class="font-weight-bold" [translate]="'PeriodParticipateRequestActions.NotAgree'"></label>
            </div>
          </div>
          <div class="row">
            <div class="py-3 col-12 ">
              <h5 [translate]="'PeriodParticipateRequestActions.ImportantNote'">
                </h5>
            </div>
          </div>
          <div class="row">
            <div class="py-2 col-12">
              <button
                [disabled]="(data.agree === false && data.reject === false) || (data.agree === true && data.selected === 0)"
                class="btn btn-indigo" [translate]="'PeriodParticipateRequestActions.Submit'"></button>
            </div>
          </div>
        </ng-container>


      </form>
    </div>
  </div>
</div>
